<h1><%= @patient.full_name %>: Appointments</h1>
<%= link_to 'Add Appointment', new_patient_appointment_path(@patient) %>
<hr />

<h2>Confirmed</h2>
<ul>
  <% @confirmed.each do |confirmed| %>
    <li>
      <%= confirmed.doctor.name %>
      <br />
      <%= link_to 'Remove', patient_appointment_path(@patient, confirmed), method: :delete %>
    </li>
  <% end %>
</ul>